apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: '{{ kafka_cluster }}'
  name: propostas
spec:
  config: {}
  partitions: 3
  replicas: 2
  topicName: propostas
--- 
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: '{{ kafka_cluster }}'
  name: propostas-aprovadas
spec:
  config: {}
  partitions: 3
  replicas: 2
  topicName: propostas-aprovadas
--- 
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: '{{ kafka_cluster }}'
  name: cobrancas
spec:
  config: {}
  partitions: 3
  replicas: 2
  topicName: cobrancas
--- 
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: '{{ kafka_cluster }}'
  name: apolices
spec:
  config: {}
  partitions: 3
  replicas: 2
  topicName: apolices
